.item1 {
  grid-area: info;
}

.item2 {
  grid-area: form;
}

.grid-container {
  display: grid;
  grid-template-areas: "info form";
  gap: 10px;
  background-color: #2c2c2c;
  padding: 1rem 5rem;
  font-size: small;
}

.footer {
  padding: 1rem 0;
  background-color: #2c2c2c;
}

#poruka {
  width: 13.1rem;
  height: 5rem;
}
