.navbar {
  background-color: rgb(47, 57, 78);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem 3rem;
}

.navbar-title {
  font-size: 2.3rem;
  color: rgb(92, 170, 113);
}

.navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar a {
  color: inherit;
  text-decoration: none;
  padding: 0.5rem;
  height: 100%;
  align-items: center;
}

.options-container a:hover {
  color: rgb(92, 170, 113);
}

.options-container a.active {
  color: rgb(92, 170, 113);
}

.options-container.pending:hover {
  color: rgb(92, 170, 113);
}

.options-container.pending {
  color: white;
}

.options-container {
  height: 100%;
  vertical-align: auto;
}

.admin {
  position: relative;
  bottom: 8px;
}

input.apple-switch {
  position: relative;
  top: 3px;
  appearance: none;
  outline: none;
  width: 50px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #d9dadc;
  border-radius: 50px;
  box-shadow: inset -20px 0 0 0 #ffffff;
  transition-duration: 200ms;
}

input.apple-switch:checked {
  border-color: rgb(92, 170, 113);
  box-shadow: inset 20px 0 0 0 rgb(92, 170, 113);
}

input.apple-switch:checked:after {
  left: 20px;
  box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}

h1 {
  margin: auto;
  width: 50%;
  text-align: center;
  padding-top: 2.5rem;
  color: rgba(47, 57, 78, 1);
}

.opcenito p {
  padding: 0 10rem;
  color: rgb(47, 57, 78);
  text-align: center;
}

.slideshow-container {
  padding: 0 5rem;
  flex: 1;
}

.map-container {
  position: relative !important;
  height: 350px !important;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 0;
}

.item2 button {
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(92, 170, 113);
  cursor: pointer;
  transition: border-color 0.25s;
}

.item2 button:hover {
  border-color: rgb(38, 80, 49);
}

.button-container {
  padding-left: 4.5rem;
}

.card-container {
  margin: 0 auto;
  width: 850px;
  height: fit-content;
}

.card {
  display: inline-flex;
  justify-content: center;
  padding: 1rem 1rem;
  margin: 0 auto;
}

.line {
  display: flex;
  width: 70px;
  height: 10px;
  border-bottom: 3px solid rgb(47, 57, 78);
  margin: auto;
  border-radius: 3px;
  padding: 0.5rem 0;
}

.inputs-container {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: fit-content;
  padding-left: 10px;
}

.input-heading {
  color: white;
  padding-top: 10px;
  font-size: 19px;
}
.filter-heading {
  margin: auto;
  width: 50%;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 7px;
  color: rgba(47, 57, 78, 1);
}

.all-filters-container {
  background-color: rgb(47, 57, 78);
  width: 100%;
  justify-content: center;
  display: inline-flex;
  padding: 1rem 1rem;
  background-color: rgb(47, 57, 78);
}
