.navbar {
  background-color: #2c2c2c;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 3rem;
}

.navbar-title {
  font-size: 2.3rem;
}

.navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar a {
  color: inherit;
  text-decoration: none;
  padding: 0.5rem;
  height: 100%;
  align-items: center;
}

.navbar li.active {
  background-color: #5e5e5e;
}

.navbar li:hover {
  background-color: #4d4d4d;
}

.options-container {
  height: 100%;
  vertical-align: auto;
}

.admin {
  position: relative;
  bottom: 8px;
}

input.apple-switch {
  position: relative;
  top: 3px;
  appearance: none;
  outline: none;
  width: 50px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #d9dadc;
  border-radius: 50px;
  box-shadow: inset -20px 0 0 0 #ffffff;
  transition-duration: 200ms;
}

input.apple-switch:checked {
  border-color: #4ed164;
  box-shadow: inset 20px 0 0 0 #4ed164;
}

input.apple-switch:checked:after {
  left: 20px;
  box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}

h1 {
  margin: auto;
  width: 50%;
  text-align: center;
  padding-top: 2.5rem;
  color: #ffffff;
}

.opcenito p {
  padding: 0 10rem;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.slideshow-container {
  padding: 0 5rem;
  flex: 1;
}

.map-container {
  position: relative !important;
  height: 350px !important;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 0;
}
